* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.small {
    font-size: 13px;
}

.smaller {
    font-size: 11px;
}

.grey {
    color: #7e7d7d;
}

i {
    cursor: pointer;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#sfondo {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: #D7DBD7;
    z-index: -1;
}

#sfondo div {
    height: 15%;
    width: 100%;
    background-color: #009688;
}

#app {
    width: 80%;
    height: calc(100vh - 6vh);
    margin: 3vh auto;
    display: flex;
    background-color: #d4d4d4;;
}

#recent {
    width: 400px;
    height: 100%;
    border-right: 1px solid #d4d4d4;
}

#view-conv {
    width: calc(100% - 400px);
    height: 100%;
}

header {
    height: 65px;
    width: 100%;
    padding: 0 10px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    border-radius: 50%;
    margin-right: 10px;
}

.user {
    display: flex;
    align-items: center;
}

.nome-utente {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

header .avatar {
    width: 50px;
}

.tools {
    font-size: 20px;
}

.tools i {
    color: #B1B1B1;
    margin: 0 5px;
}

#notifiche {
    height: 80px;
    width: 100%;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.bell {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #8EDAFC;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-right: 10px;
}

#search {
    height: 50px;
    width: 100%;
    padding: 0 8px;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
}

#search input {
    height: 35px;
    width: 100%;
    color: #cecaca;
    border: 1px solid #eeeeee;
    border-left: none;
    padding: 0 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#search input::placeholder {
    color: #cecaca;
}

#search input:focus {
    outline: none;
}

#search label {
    height: 35px;
    width: 60px;
    color: #B1B1B1;
    background-color: #fff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eeeeee;
}

#chats {
    background-color: #fff;
    height: calc(100% - 195px);
    overflow-y: scroll;
}

.conv {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    border-bottom: 1px solid #eeeeee;
    cursor: pointer;
}

#chats .avatar {
    width: 55px;
}

.showMsg {
    margin-top: 10px;
    color: #B1B1B1;
    width: 274px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#view-chat {
    height: calc(100% - 130px);
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
    padding: 2% 3%; 
}

.msg-box {
    display: flex;
    flex-direction: column;
}

#send-msg {
    height: 65px;
    width: 100%;
    background-color: #F3EEEA;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#send-msg input {
    flex: 1;
    height: 50px;
    border-radius: 7px;
    border: none;
    padding: 10px;
}

#send-msg input:focus {
    outline: none;
    border: 2px solid #32B1E9;
}

#send-msg i {
    font-size: 25px;
    margin: 0 30px;
}

.msg {
    width: fit-content;
    max-width: 80%;
    min-width: 25%;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    margin: 1vh 0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.received {
    background-color: #fff;
    align-self: flex-start;
}

.sent {
    background-color: #DBFAC6;
    align-self: flex-end;
}

.date {
    position: relative;
    text-align: right;
    bottom: -5px;
    font-size: 12px;
    color:grey;
    /* margin-left: 30px; non riesco a metterlo inline con il testo del messaggio se c'è abbastanza spazio*/
}

.msg::after {
    content: "";
    position:absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-radius: 3px;
    border-width: 13px 10px 0 10px;
    top: 0px;
}

.received::after {
    border-color: white transparent transparent transparent;
    left: -9px;
}

.sent::after {
    border-color: #DBFAC6 transparent transparent transparent;
    right: -9px;
}

.msg .absEl {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
}

.absEl i {
    opacity: 0;
}

.received:hover i {
    box-shadow: -5px 5px 3px white;
    background-color: white;
}

.sent:hover i {
    box-shadow: -5px 5px 3px #DBFAC6;
    background-color: #DBFAC6;
}

.msg:hover i {
    opacity: 1;
}

.infoBox {
    background-color: #fff;
    width: max-content;
    padding: 15px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: -140px;
    top: 20px;
    font-weight: 500;
}

.infoBox ul li {
    list-style: none;
    padding: 10px 0;
    cursor: pointer;
}

.firstMsg {
    color: red;
}
